body {
    margin: 0;
    background-image: url("Bilder/moutain.webp");
    background-position:center;
    background-repeat: no-repeat;
    background-size: auto;
}

.sidenav {
    display: flex;
    width: 15%;
    flex-direction: column;
}

.sidenav ul{
    list-style-type: none;
    background-color: rgba(192, 192, 192, 0.747);
    margin: 0;
    font-family: monospace;
    font-size: x-large;
    overflow:hidden;
}

.sidenav li {
    margin-bottom: 20px;
}

.sidenav li:nth-child(-n+2){
}

.main { /* item1 */
    font-family: sans-serif;
    color: white;
    display: flex;
    justify-items:center;
    flex-direction: column;
    }

.container {
    display: flex;
}
