body {
    margin: 0;
    background-image: url("Bilder/moutain.webp");
    background-position:center;
    background-repeat: no-repeat;
    background-size: auto;
}

.sidenav ul{
    list-style-type: none;
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(192, 192, 192, 0.747);
    margin: 0;
    font-family: monospace;
    font-size: x-large;
}

.sidenav li {
    margin-top: 20px;
}

.sidenav li:nth-child(-n+2){
    display: flex;
    flex-direction: row;
    background-color: blue;
}

.main {
    font-family: sans-serif;
    color: white;
    display:flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}



.typewriter p {
    overflow: hidden; 
    border-right: .15em solid white; 
    color: white;
    white-space: nowrap; 
    margin: 0 auto; 
    
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .5s step-end infinite;
  }

@keyframes typing {
    from {width: 0;}
    to {width: 100%; height: 100%;}
}

@keyframes blink-caret {
    from, to { border-color: transparent;}
    50% { border-color: white;}
}


    





